name: Tests

on:
  push:
    branches:
      - "**"
  pull_request:

permissions:
  contents: read

jobs:
  phpunit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"
          extensions: swoole
          coverage: none
          tools: composer:v2
          cache: composer

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Run tests
        run: vendor/bin/phpunit -c phpunit.xml
